.search {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 0 20px 0;
  border-radius: 9px;
  justify-content: space-between;
  background: #fdfdfd;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  max-width: 1140px;
  width: 100%;
  margin-bottom: 69px;
}

::placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.search:after {
  position: absolute;
  bottom: 41px;
  left: 0;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #e8e8e8;
  transform: translateY(110px);
}

.search__form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  justify-content: space-between;
  padding-right: 49px;
  max-width: 894px;
}

.search__form:after {
  position: absolute;
  content: "";
  height: 40px;
  width: 1px;
  right: 30px;
  background: #cbcbcb;
}

.search__form:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 34px;
  left: 17px;
  background-image: url(../../images/icon.svg);
  background-repeat: no-repeat;
}

.search__form-input {
  background-color: transparent;
  border: none;
  margin-left: 60px;
  width: 100%;
  outline: none;
}

.search__form-input::placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.search__form-input:focus {
  border-bottom: 1px solid #4285f4;
}

.search__submit {
  background: black;
  border: none;
  border-radius: 50%;
  max-width: 34px;
  width: 80px;
  height: 34px;
  cursor: pointer;
  background-image: url(../../images/arrow-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  transition: opacity 0.3s ease-in;
}

.search__submit:hover {
  opacity: 0.7;
}

.filter {
  box-sizing: border-box;
  margin-right: 30px;
  width: 167px;
}

.filter__label {
  position: relative;
  display: inline-block;
  width: 167px;
  height: 20px;
}

.filter__label .filter__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter__switch {
  max-width: 36px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebebeb;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.2s ease-out;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.2);
}

.filter__switch:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.filter__switch:after {
  position: absolute;
  content: "Короткометражки";
  top: 0;
  left: 50px;
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.filter__input:checked + .filter__switch:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: rgba(61, 220, 132, 1);
}

@media screen and (max-width: 1024px) {
  .search {
    max-width: 980px;
  }
}

@media screen and (max-width: 768px) {
  .search {
    /* margin: 70px 30px;
    padding: 20px;
  } */
    max-width: 708px;
    padding: 22px 0 18px 0;
    margin-bottom: 109px;
  }

  .search:after {
    bottom: 0;
  }

  .search__form {
    max-width: 481px;
    padding-right: 0;
  }

  .search__form:after {
    right: -20px;
  }

  .filter {
    margin-right: 20px;
  }
}

@media screen and (max-width: 640px) {
  .search {
    position: relative;
  }
  .search__form:after {
    height: 0;
  }
  .search__form {
    padding: 0;
  }
  .search__form::before {
    width: 0;
  }
  .search__form-input {
    margin: 0;
    padding: 0;
  }

  .filter {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 45px);
  }
}

@media screen and (max-width: 375px) {
  .search {
    margin: 0 auto;
    max-width: 300px;
    padding: 19px 0 19px;
  }

  .search__form-input::placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .search__form {
    margin: 0 19px 0 19px;
  }

  .filter{
    max-width: 148px;
  }

  .filter__switch:after {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
}
