.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 30px;
    background-color: #F3C1F8;
    margin: 0;
  }

  .header__logo {
    width: 38px;
    height: 38px;
    transition: background-size .1s ease-out;
    background-image: url('../../images/logo.svg');
    background-size: 100% 100%;
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
  }

  .header__logo:hover {
    background-size: 34px 34px;
  }

  .header__overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    transition: opacity 0.4s ease-out;
    display: block;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    visibility: hidden;
  }

  .header__overlay_active {
    opacity: 1;
    visibility: visible;
  }

  .header__burger {
    width: 22px;
    height: 22px;
    padding: 0;
    position: relative;
    display: block;
    border: none;
    background-color: inherit;
    cursor: pointer;
    z-index: 3;
  }

  .header__burger-menu {
    height: 3px;
    width: 22px;
    top: 9px;
    left: 0;
    position: absolute;
    background-color: #000;
    transition: transform .2s ease;
  }

  .header__burger-menu_active {
    transform: rotate(135deg) scaleX(120%);
  }

  .header__burger-menu::before {
    height: 3px;
    width: 22px;
    top: -8px;
    left: 0;
    content: '';
    position: absolute;
    background-color: #000;
    transition: transform .2s ease;
  }
  
  .header__burger-menu_active::before {
    transform: rotate(90deg) translateX(8px) scaleX(120%);
  }

  .header__burger-menu::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transition: transform .1s ease;
  }
  
  .header__burger-menu_active::after {
    transform: translateY(-8px);
  }
  
  .header__login {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  
  .header__link {
    color: #000;
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    transition: color .2s ease-out;
  }
  
  .header__link:hover {
    color: #8B8B8B;
  }
  
  .header__button {
    padding: 5px 12px;
    color: #FFF;
    background-color: #000;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    transition: color .2s ease-out;
  }
  
  .header__button:hover {
    color:#8B8B8B;
  }
  
  @media screen and (min-width: 768px) {
    .header {
      padding: 21px 30px;
    }
  
    .header__link {
      font-size: 12px;
    }
  
    .header__button {
      padding: 8px 20px;
      font-size: 12px;
      line-height: 16px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .header__overlay {
      display: none;
    }
  
    .header__burger {
      display: none;
    }
  }
  
  @media screen and (min-width: 1660px) {
    .header {
      padding: 18px 0;
      grid-column: 2/3;
    }
  }