.cutaway {
  width: 100%;
  min-height: 574px;
  background-color: #f3c1f8;
  background-image: url(../../../images/text__COLOR_landing-logo.svg);
  background-size: 310px 304px;
  background-repeat: no-repeat;
  background-position: 900px 75px;
}

.cutaway__title {
  margin: 0;
  padding: 75px 0 0 70px;
  display: flex;
  max-width: 640px;
  min-height: 174px;
  flex-direction: column;
  color: #000;
  font-size: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
}

.cutaway__subtitle {
  display: flex;
  margin: 36px 0 0 70px;
  padding: 0;
  max-width: 310px;
  flex-direction: column;
  color: #000;
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cutaway__button {
  display: block;
  width: 129px;
  height: 36px;
  border-radius: 3px;
  border: 1px solid #000;
  background: #f3c1f8;
  margin: 146px 0 0 70px;
}

.cutaway__link {
  color: #000;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.cutaway__link:hover {
  color: #8b8b8b;
}

@media screen and (max-width: 1125px) {
  .cutaway {
    background-position: 650px 60px;
  }

  .cutaway__title {
    font-size: 40px;
    max-width: 500px;
  }
}

@media screen and (max-width: 1218px) {
  .cutaway {
    background-position: 750px 60px;
  }
}

@media screen and (max-width: 1065px) {
  .cutaway {
    background-position: 550px 60px;
  }
}

@media screen and (max-width: 890px) {
  .cutaway {
    background-position: center top 140px;
    min-height: 850px;
  }

  .cutaway__title {
    max-width: 680px;
    min-height: 100px;
    text-align: center;
    padding: 492px 0 22px 0;
    margin: 0 auto;
  }

  .cutaway__subtitle {
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    max-width: 260px;
    padding-bottom: 92px;
  }

  .cutaway__button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .cutaway {
    background-size: 310px 304px;
    background-position: center top 140px;
    min-height: 850px;
  }

  .cutaway__title {
    max-width: 680px;
    min-height: 100px;

    padding: 492px 0 24px 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
  }
}

@media screen and (max-width: 540px) {
  .cutaway {
    background-size: 210px 206px;
    background-position: center top 70px;
    min-height: 636px;
  }

  .cutaway__subtitle{
    padding-bottom: 80px;
  }

  .cutaway__title {
    max-width: 300px;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.2px;
    padding: 320px 0 24px 0;
  }
}
